.div-card{
    font-size: 8px;
    margin: 0;
    padding: 0;
    background-color: #BABABA;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-wrap: wrap;
}

.icon-user{
    width: 200px;
    height: 200px;
    font-size: 100px;
}