.div-cards{
    display: flex;
    justify-content: space-around;
}  


.div-cards .div-cards-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}   

.div-cards .div-cards-card button{
    margin-bottom: 30px;
    margin-top: 10px;
}
